@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400&display=swap');



body{
    margin: 0;
}


.homeContainer {
    background-color: #0a092d;
    height: 100vh;
    
}

.cardContainer{
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    width: 688px;
    height: 350px;
    border-radius: 10px;
    perspective: 1000px;
    
    
}

.card {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    transition-delay: 0.11s;
    border-radius: 10px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.flip{
    transform: rotateY(180deg);
}

.front{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    /* background: #ffc728; */
    background: #2e3856;
    color: white;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
}

.front h1, .back h1{
    font-weight: 300;
}

.back{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fafafa;
    color: white;
    background: #2e3856;
    transform: rotateY(180deg);
    border-radius: 10px;
    
}

.loginPageContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.loginPageLeftSide{
    font-family: 'Sen', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-color: #277BC0; */
    background-color: #3AB4F2;
    min-height: 100vh;
    width: 50%;
    
}

@keyframes login {
    0% {width: 50%;}
    100% {width: 100%; background-color: #0a092d}
}

.animateLogin{
    animation: login 1.5s ease;
    animation-fill-mode: forwards;
}

.loginPageRightSide {
    height: 100vh;
    width: 50%;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideUp{
    color: white;
    animation: slideUp 1s ease;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.iconContainer {
    margin: 0 5.5vh;
    text-align: center;
    color: white;
}

.icon {
    margin-top: 16vh;
    font-size: 20.5vh !important;
    color: white !important;
}

.heading1 {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 3vh;
}

/* Login section */

.loginHeading {
    color: #2e3856;
    margin-left: 12.5vw;
    margin-top: 25vh;
    font-family: 'Sen', sans-serif;
}

.formContainer{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 3vh auto;
}

.inputField{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    border-width: 2.9px;
    height: 30px;
    font-size: 1.5rem;
    font-family: 'Sen', sans-serif;
}

.inputField::placeholder{
    font-family: 'Sen', sans-serif;
    font-size: 1rem;
    opacity: 0.4;
}

.inputUsernameLabel {
    margin-top: 7px;
    margin-bottom: 35px;
    font-family: 'Sen', sans-serif;
    opacity: 0.6;
    font-weight: bold;
}

.inputPasswordLabel{
    margin-top: 7px;
    margin-bottom: 26px;
    font-family: 'Sen', sans-serif;
    opacity: 0.6;
    font-weight: bold;
}

.loginBtn{
    height: 45px;
    border: 0;
    border-radius: 5px;
    background-color: #2e3856;
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 1.2rem;
    
}

.fieldError{
    font-family: 'Sen', sans-serif;
    font-size: 0.8rem;
    margin-top: 2px;
    color: red;
    margin-bottom: -2px;
}

/* register page */
.registerPageContainer{
    width: 50%;
    margin: 15vh auto;
}

.signupHeading {
    font-family: 'Sen', sans-serif;
    margin-left: 12.5vw;
}

.homePageContainer{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #0a092d;
    min-height: 100vh;
    font-family: 'Sen', sans-serif;
}

.navbar {
    height: 66px;
    border-bottom: 0.0625rem solid #282e3e;
    display: flex;
}

.navbar h2 {
    display: inline-flex;
    margin: 0;
    font-size: 30px;
    height: 46px;
    padding-top: 15px;
    margin-left: 20px;
}

.navbar p:hover{
    border-bottom: 2.5px solid #423ed8;
}


.navbar p {
    /* font-size: 2vh; */
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 24px;
    margin-left: 50px;
    font-weight: 600; 
    height: 39.5px;
}
.navbar p.homeLink{
    margin-left: 80px;
}

.navbar div.logoutLink{
    margin-left: 5vw;
}

.navbar span {
    color: #3AB4F2;
}

.decksHeading{
    margin: 0 18.5vw;
    margin-top: 8vh;
    margin-bottom: 4vh;
    
}

.homeBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 18.4vw;
    margin-top: 0.5vh;
    /* border: 5px solid black; */
    min-height: 40vh;
    justify-content:flex-start;
}

.homeBody div{
    background-color: #2e3856;
    width: 350px;
    height: 175px;
    margin: 10px;
    border-radius: 8px;
    border: 2.5px solid transparent;
    box-shadow: 1px 0px 5px #2e3856;
    cursor: pointer;
    padding: 0 10px;
}

.homeBody div h3{
    height: 50%;
}

.homeBody div p{
    margin: 0;
    opacity: 0.5;
}

.homeBody div:hover{
    border-bottom: 2.5px solid #3AB4F2;
}

.addDeck{
    border: 2px dashed #2e3856 !important;
    background-color: transparent !important;
    /* width: 347px !important;
    height: 172px !important; */
    box-shadow: none !important;
    text-align: center;
}

.addDeck .addIcon{
    color: #2e3856;
    margin: 31.5px 0;
    font-size: 7rem;
    opacity: 0.5;
}

.homeBody div p{
    margin: 0;
    opacity: 0.5;
}